In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#!pip install pyarrow

In [3]:
# for year in range(3, 24):
#     # Formating the year to have two digits
#     year_str = f"{year:02d}"
    
#     # Parquet path
#     parquet_file = f'malaria_notification_data/NOTIPO{year_str}.parquet'
    
#     # CSV path
#     csv_file = f'malaria_notification_data/NOTIPO{year_str}.csv'
    
#     parquet_df = pd.read_parquet(parquet_file)
#     parquet_df.to_csv(csv_file, index=False)

In [4]:
malaria_2003_df = pd.read_csv('malaria_notification_data_csv/NOTIPO03.csv')
malaria_2004_df = pd.read_csv('malaria_notification_data_csv/NOTIPO04.csv')
malaria_2005_df = pd.read_csv('malaria_notification_data_csv/NOTIPO05.csv')
malaria_2006_df = pd.read_csv('malaria_notification_data_csv/NOTIPO06.csv')
malaria_2007_df = pd.read_csv('malaria_notification_data_csv/NOTIPO07.csv')
malaria_2008_df = pd.read_csv('malaria_notification_data_csv/NOTIPO08.csv')
malaria_2009_df = pd.read_csv('malaria_notification_data_csv/NOTIPO09.csv')
malaria_2010_df = pd.read_csv('malaria_notification_data_csv/NOTIPO10.csv')
malaria_2011_df = pd.read_csv('malaria_notification_data_csv/NOTIPO11.csv')
malaria_2012_df = pd.read_csv('malaria_notification_data_csv/NOTIPO12.csv')
malaria_2013_df = pd.read_csv('malaria_notification_data_csv/NOTIPO13.csv')
malaria_2014_df = pd.read_csv('malaria_notification_data_csv/NOTIPO14.csv')
malaria_2015_df = pd.read_csv('malaria_notification_data_csv/NOTIPO15.csv')
malaria_2016_df = pd.read_csv('malaria_notification_data_csv/NOTIPO16.csv')
malaria_2017_df = pd.read_csv('malaria_notification_data_csv/NOTIPO17.csv')
malaria_2018_df = pd.read_csv('malaria_notification_data_csv/NOTIPO18.csv')
malaria_2019_df = pd.read_csv('malaria_notification_data_csv/NOTIPO19.csv')
malaria_2020_df = pd.read_csv('malaria_notification_data_csv/NOTIPO20.csv')
malaria_2021_df = pd.read_csv('malaria_notification_data_csv/NOTIPO21.csv')
malaria_2022_df = pd.read_csv('malaria_notification_data_csv/NOTIPO22.csv')
malaria_2023_df = pd.read_csv('malaria_notification_data_csv/NOTIPO23.csv')

C:\Users\ilana\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (30) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\ilana\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (30,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\ilana\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\ilana\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (37,38,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\ilana\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (29,30,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
full_malaria_df = pd.concat([
    malaria_2003_df, malaria_2004_df, malaria_2005_df, malaria_2006_df,
    malaria_2007_df, malaria_2008_df, malaria_2009_df, malaria_2010_df,
    malaria_2011_df, malaria_2012_df, malaria_2013_df, malaria_2014_df,
    malaria_2015_df, malaria_2016_df, malaria_2017_df, malaria_2018_df,
    malaria_2019_df, malaria_2020_df, malaria_2021_df, malaria_2022_df,
    malaria_2023_df])

full_malaria_df

full_malaria_df = full_malaria_df.reset_index()
full_malaria_df = full_malaria_df.drop(columns=['index', 'Unnamed: 0'])
full_malaria_df

,COD_NOTI,DT_NOTIF,DT_ENVLO,DT_DIGIT,SEM_NOTI,TIPO_LAM,UF_NOTIF,MUN_NOTI,COD_UNIN,COD_AGEN,...,NU_HEMOGLOBINA_TOTAL,EXAMINADOR,ID_LVC,GESTANTE,AMAMENTANDO,TEMP_AMAMENT,DIMEA_AMAMENT,VIVAX,FALCIPARUM,NIV_ESCO
0,56,27/01/03,23/03/2011,NaN,05/2003,3,21,210290,9505,498068.0,...,NaN,NaN,1,5,NaN,NaN,NaN,NaN,NaN,0.0
1,470,20/03/03,23/03/2011,NaN,12/2003,2,21,210232,10033,232514.0,...,NaN,NaN,2,6,NaN,NaN,NaN,NaN,NaN,1.0
2,1309,10/07/03,23/03/2011,NaN,28/2003,1,21,210232,10032,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,19,27/01/03,23/03/2011,NaN,05/2003,3,21,210232,10032,232516.0,...,NaN,NaN,1,6,NaN,NaN,NaN,NaN,NaN,NaN
4,657,04/04/03,23/03/2011,NaN,14/2003,1,21,210232,100321,NaN,...,NaN,NaN,2,4,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6816637,225,20/07/23,26/09/2023,26/09/23,29/2023,1,13,130020,49,618.0,...,NaN,618.0,2,6,NaN,NaN,NaN,2.0,2.0,1.0
6816638,524,19/06/23,11/07/2023,11/07/23,25/2023,1,13,130406,46,64.0,...,NaN,67.0,2,6,NaN,NaN,NaN,2.0,2.0,0.0
6816639,922,05/12/23,12/12/2023,12/12/23,49/2023,1,13,130406,24,339.0,...,NaN,449.0,2,6,NaN,NaN,NaN,2.0,2.0,2.0
6816640,14,26/09/23,20/10/2023,20/10/23,39/2023,1,16,160025,1,352826.0,...,NaN,352826.0,2,6,NaN,NaN,NaN,2.0,2.0,5.0
6816641,1,28/08/23,11/03/2024,11/03/24,35/2023,2,17,172120,1721201,1789.0,...,NaN,1789.0,2,6,NaN,NaN,NaN,2.0,2.0,6.0